    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article> 
            <h2>About</h2>
            Anime, a new side of the visual entertainment industry that's slowly growing popular because of
            its absurdly imaginative and creative stories and also its effective use of the medium it's on.
            This site discusses about Anime's sudden rise in popularity and why it's soo effective during these
            times where everything is an effort to become a franchise.
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>The actual content of this site</p>
        </aside>
      </div>
    </div>